<main>
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal">Sobre mi serie favorita </h1>
    <p class="fs-5 text-muted">Mi serie favorita es <b>Sherlock Holmes en Amazon Prime.</b> Es mi serie favorita hasta el momento y no creo que ninguna la supere, tiene de todo drama, amor, misterio y mucha deducción, es indescriptible y lo especial de esta es que te da ganas de seguir viendo, a ver qué pasa, tienes que estar atent@ a todo lo que pasa, aunque en el momento no tenga importancia (Personajes terciarios), la recomiendo un montón y sería bueno que muchas personas más lo vieran porque lo vale, lo que más me gusto fue la poca cantidad de sentimiento del protagonista ya que se contrarresta por su inteligencia haciéndolo perfecto. Puedes pasar horas y horas viéndolo sin aburrirte.
Amo a esta serie y a los protagonistas, se robó mi corazón, 100% recomendada. :)</p>
  </div>
</main>
